* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}


.top-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
 
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'TheMixSemiBold';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 1;
  border-radius: 0.125rem;
  padding: 0.8em 1em;
  
}

.links > li {
  margin-right: 20px;
  cursor: pointer;
}

.links li:hover {
  background-color: rgba(184, 229, 250, 0.5);
  
}

.links > li:last-child {
  margin-right: 0px;
  pointer-events: none;
}

.hero {
  background: url("./images/hero.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
  
}

.hero-content {
  padding: 40vh 0 20vh 0vh;
  width:50%
}

.hero-heading {
  font-size: 50px;
  margin-bottom: 40px;
  
}

.hero-paragraph {
  font-size: 32px;
  margin-bottom: 30px;
}

.flex {
    display: flex;
    background: white;
    height:350px;   
}

.item {
    width:20%;
    margin:10px;
    background:#fafafa;
    text-align:center;
}

.flex-space-between {
    justify-content: space-between;
}


.media-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top:5px;
}

.media-images > img {
  width: 25%;
}

h5{

font-family: 'The Mix Black';
 margin-top: 1rem!important;
 margin-bottom: 0.6rem;
 line-height: 1.25;
 color: #212121;
 font-size: 1.25rem;
 font-weight: 500;

}

p{

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: inherit;
    margin-bottom: 0!important;
    margin-top: 1rem!important;
    color: #646464;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vw;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.footer > a {
  color: #0d0;
}

.container {
  padding: 0 12vh;
  width: 100%; 
}

.btn {
  padding: 14px 10px;
  border: none;
  border-radius: 20px;
}

.btn-blue{
  background-color: #0078BE;
  color: #fff;
  font-weight: bold;
}

/* Media Query */

@media only screen and (max-width: 800px) {
  .mobile {
    flex-direction: column;
  }

  .media-images > img {
    width: 100%;
  }

  .program-images > div {
    width: 100%;
  }
}
